*{
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: #fd6e0a
}
.btn-primary{
    border: 0px;
    padding: 15px 30px;
    background: #fd6e0a;
    color: #fff;
    border-radius: 12px;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    align-items: center;
    margin: 0px 200px;
}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav > ul{
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
}
nav a {
    text-decoration: none;
    padding: 30px;
    color: #474747;
}

/*header related style*/
.header{
    background-color: #fff8f3;
}

.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}
.profile-picture{
    width: 500px;
}
